/* Sessão com imagem no meio e box*/
.intro{
    width: 100vw;
    height: calc(100vh - 136px);
    background: no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .box{
    background-color: white;
    width: 800px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.button-box{
    position: absolute;
    right: 0;
    bottom: -48px;
    display: flex;
}

.button-box a{
    background-color: #d41317;
    color: white;
    font-family: 'Helvetica Light', 'Arial', sans-serif; /* PROBLEMAS COM A FONTE */
    padding: 15px 50px;
}

.button-box a:hover{
    background-color: #1a2b6d;
}


.button-box a:first-child{
    background-color: #1a2b6d;
    padding: 15px 20px;
    transition: all 300ms;
}

.button-box a:first-child:hover{
    background-color: #d41317;
}

.box img{
    width: 500px;
    height: 200px;
}


.box2{
    display: flex;
}

.box2 p{
    margin: 0px 30px;
    line-height: 30px;
    font-family: 'Helvetica Light', 'Arial', sans-serif; /* PROBLEMAS COM A FONTE */
}

.box2 .line{
    width: 500px;
    margin-left: 30px;
    height: 3px;
    margin-top: 10px;
    background-color: #006db0;
}

/* Section - Nossos Serviços */
.nossos-servicos{
    width: 100vw;
    background-color: #1a2b6d;
    color: white;
    font-weight: normal;
    font-family: 'Spinnaker', sans-serif; /* PROBLEMAS COM A FONTE */
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 100px;
}

.nossos-servicos h1{
    font-size: 56px;
}

/* Conteiner dos CARDS */
.nossos-servicos .container-cards{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    gap: 30px;
}

/* CARD - Nossos Serviços */
.nossos-servicos .card{
    background-color: #f2f2f2;
    color: black;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    position: relative;
    margin-top: 30px;
}

.nossos-servicos .card::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: -15px;
    bottom: -15px;
    border: solid 3px #f2f2f2;
    z-index: -1;
}

.nossos-servicos .card h2{
    color: #1a2b6d;
    font-size: 32px;
}

.nossos-servicos .card a{
    color: #d41317;
    z-index: 1;
    transition: all 300ms;
}

.nossos-servicos .card a:hover{
    color: #1a2b6d;
}

.nossos-servicos .card p{
    line-height: 26px;
}

