*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spinnaker', sans-serif;
    text-decoration: none;
    font-weight: normal;
}

main{
    background-color: #1a2b6d;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

main h1{
    font-size: 66px;
    width: 600px;
    text-align: center;
    margin: 60px;
}

main form{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main form div input{
    width: calc(50% - 5px);
}

form input, textarea{
    background-color: #1a2b6d;
    border: solid 2px white;
    padding: 10px 5px;
    color: white;
}

form textarea{
    min-height: 150px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

main a{
    position: absolute;
    width: 70px;
    height: 70px;
    top: calc(10% - 70px);
    right: calc(10% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 66px;
    color: white;
}
