*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica W01 Bold";
    text-decoration: none;
}

/* Header */
header{
    height: 100vh;
}

/* Nav Bar */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 136px;
}

header nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

header a{
    color: rgb(26, 43, 109);
    transition: all 300ms;
}

header a:hover{
    color: rgb(212,19,23);
}

header img{
    width: 242px;
    height: 76px;
    object-fit: contain;
}

/* Sessão com imagem no meio e box*/
.intro{
    width: 100vw;
    height: calc(100vh - 136px);
    background: no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .box{
    background-color: white;
    width: 800px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.button-box{
    position: absolute;
    right: 0;
    bottom: -48px;
    display: flex;
}

.button-box a{
    background-color: #d41317;
    color: white;
    font-family: 'Helvetica Light', 'Arial', sans-serif; /* PROBLEMAS COM A FONTE */
    padding: 15px 50px;
}

.button-box a:hover{
    background-color: #1a2b6d;
}


.button-box a:first-child{
    background-color: #1a2b6d;
    padding: 15px 20px;
    transition: all 300ms;
}

.button-box a:first-child:hover{
    background-color: #d41317;
}

.box img{
    width: 500px;
    height: 200px;
}


.box2{
    display: flex;
}

.box2 p{
    margin: 0px 30px;
    line-height: 30px;
    font-family: 'Helvetica Light', 'Arial', sans-serif; /* PROBLEMAS COM A FONTE */
}

.box2 .line{
    width: 500px;
    margin-left: 30px;
    height: 3px;
    margin-top: 10px;
    background-color: #006db0;
}

/* Section - Nossos Serviços */
.nossos-servicos{
    width: 100vw;
    background-color: #1a2b6d;
    color: white;
    font-weight: normal;
    font-family: 'Spinnaker', sans-serif; /* PROBLEMAS COM A FONTE */
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 60px 25%;
}

.nossos-servicos h1{
    font-size: 56px;
}

/* Conteiner dos CARDS */
.nossos-servicos .container-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nossos-servicos .container-cards .card:nth-last-child(-n+3){
    margin-top: 60px;
}

/* CARD - Nossos Serviços */
.nossos-servicos .card{
    background-color: #f2f2f2;
    color: black;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    position: relative;
    margin-top: 30px;
    
}

.nossos-servicos .card h2{
    color: #1a2b6d;
    font-size: 32px;

}

.nossos-servicos .card a{
    color: #d41317;
    z-index: 1;
    transition: all 300ms;
}

.nossos-servicos .card a:hover{
    color: #1a2b6d;
}

.nossos-servicos .card p{
    line-height: 26px;
}

.nossos-servicos .fundo{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: -15px;
    bottom: -15px;
    border: solid 3px #f2f2f2;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: #1a2b6d;
    color: white;
    gap: 60px;
    padding: 60px;
}

footer form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

footer form div{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

footer input, textarea{
    background-color: #1a2b6d;
    color: white;
    border: none;
    border-bottom: solid 1px white;
    width: 50%;
    height: 32px;
    font-size: 18px;
    padding: 5px;
}

footer .box-text{
    max-width: 100%;
    min-width: 100%;
    min-height: 32px;
    max-height: 100px;
}

footer button{
    padding: 15px;
    color: white;
    background-color: #1a2b6d;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

footer .infos{
    display: flex;
    width: 50%;
    justify-content: space-between;
}